<!-- app/views/user_mailer/set_password_instructions.html.erb -->
<p>Hi <%= @user.name.presence || "there" %>,</p>

<p>Your account has been created. Please set your password to access your dashboard:</p>

<p>
  <%= link_to "Set your password", edit_password_url(token: @token), target: "_blank" %>
</p>

<p>This link will expire in 2 hours.</p>

<p>Thank you,</p>
<p>NORTHTX Technologies</p>
